@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

img {
    border-radius: 50%;
    padding-top: 1rem;
}

.dados {
    font-size: large;
}

body {
    background-color: #6a66a322;
    height: 100dvh;
  }

  .stars i {
    font-size: 1rem;
    color: #B3CBB9;
    padding: 1rem;
}

 h1.Nome {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: black;
}
h1.hist {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: black;
}

p {
    font-family: 'Poppins';
    font-size: 0.8rem;
}

a {
    color: #6a66a3;
    text-decoration: none;
    padding: 3px;
    font-size: .9rem;
}

.header {
    background-color: #b3cbb9;
    box-shadow: var(--box-shadow);
    padding: 1rem;

}
a.logo {
    color: var(--orange);
    font-family: 'Poppins';
    font-size: 1.3rem;
    text-decoration: none;
}

:root {
    --orange: #6A66A3;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.23);
    --border: .2rem solid rgb(0, 0, 0.1);
    --outline: .1rem solid rgb(0, 0, 0.1);
    --outline-hover: .2rem solid var(--black);
}

.corpo {
    padding-bottom: 6rem;
  }
  
  .footer {
    background-color: #b3cbb9;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    position: fixed;
    height: 5rem;
    bottom: 0rem;
    width: 100%;
    left: 0rem;
  }
  
  .footer .icons {
    border-radius: .5rem;
    color: var(--black);
    height: 5rem;
  }
  
  .footer .fa-house {
    font-size: 3rem;
    position: fixed;
    bottom: 1rem;
    left: 12.5rem;
  }
  
  .footer .fa-user {
    font-size: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 12.5rem;
  }
  
  .footer .fa-user:hover {
    color: #e5e5e5;
    border-radius: 5px;
  }
  
  .footer .fa-house:hover {
    color: #e5e5e5;
    border-radius: 5px;
  }
  
  .footer a {
    color: var(--orange);
    font-family: 'Poppins';
    text-decoration: none;
  }