body {
    background-image: url('tela.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  input[type="text"] {
    margin-bottom: 10px;
  }

  input[type="submit"] {
    border-radius: 8px;
  }

  aside {
    background-color: azure;
    border-radius: 8px;
  }

  aside dt {
    font-size: large;
  }